@font-face {
  font-family: "Glysa";
  src: url("/assets/fonts/Glysa.otf");
}

@font-face {
  font-family: "LexenDenca";
  src: url("/assets/fonts/LexendDeca-VariableFont_wght.ttf");
}

h1 {
  font-family: "Glysa";
  font-size: 2rem;
  line-height: 3rem;
  letter-spacing: 0%;
}

h2 {
  font-family: "Glysa";
  font-size: 1.5rem;
  line-height: 2.5rem;
  letter-spacing: 0%;
}

h3 {
  font-family: "LexenDenca";
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.01rem;
}

body {
  font-family: "LexenDenca";
  font-size: 0.938rem;
  line-height: 1.625rem;
  letter-spacing: 1%;
}

.message {
  font-family: "LexenDenca";
  font-size: 0.75rem;
  line-height: 0.75rem;
  letter-spacing: 1%;
}
